<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magdybindia.numbercrunch">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".MainscreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LevelScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LevelOneQstOne"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".ScoreBoard" />
        <activity
            android:name=".QstTwo"
            android:label="@string/title_activity_qst_two"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity
            android:name=".QstThree"
            android:label="@string/title_activity_qst_three"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity
            android:name=".QstFour"
            android:label="@string/title_activity_qst_four"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity
            android:name=".QstFive"
            android:label="@string/title_activity_qst_five"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible"/>
    </application>

</manifest>
